*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(aqua,aqua);
    overflow:hidden;
}
/* cloud */
.cloud{
    width: 200px;
    height: 65px;
    background-color: wheat;
    border-radius: 50px;
    position: absolute;
    top: 100px;
    left: 100px;
    animation-name: cloud;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes cloud{
    0%{
        left: -200px;
    }
    100%{
        left: 100%;
    }
}
.cloud::before{
    content: "";
    width: 65px;
    background-color: white;
    height: 65px;
    border-radius: 50px;
    position: absolute;
    top: -30px;
    left: 80px;
    

}
cloud::after{
   content: "";
   width: 80px;
   height: 80px;
   border-radius: 50px;
   background-color: white;
   position: absolute;
   top: -40px;
   left: 80px; 
}
.cloud2{
    margin-top: 20px;
    top: 200px;
    left: 80%;
    animation-name: cloud2;
}
@keyframes .cloud2{
    0%{
        left:100%;
    }
    100%{
        left:-200px;
    }
}
.mountain{
    width: 420px;
    height: 420px;
    background-color: aqua;
    transform: rotate(45deg);
    position: absolute;
    bottom: -210px;
    left: 35%;
}
.mountain::after{
    content: "";
    width: 420px;
    height: 420px;
    background-color: aqua;
    position: absolute;
    top: 380px;

}

